body {
    padding: 4px;
    margin-top: 150px;
    text-align: center;
}

#home-title{
    margin-bottom:200px;
}

.home-button {
    margin-right: 13px;
    margin-left:13px;
    margin-bottom: 40px;
    height: 80px;
    width: 250px;
    font-size: 25px;
    border: 1px solid #000;
}

#button-container-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}