/* 商品登録などの、ページヘッダーを横一列に */
.inventory-header {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    background-color: #4e4e4e;
}

.header-item{
    padding: 10px 22px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.header-item.gold {
    background-color: #d4af37;
    color: #000;
}

.header-item.black {
    background-color: #1a1a1a;
    color: #fff;
}
